<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/pages/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>
        <%= profileUser.username %> | Simply Yum
    </title>
</head>

<body>
    <%- include('../partials/nav.ejs') %>
        <main class="profile">
            <div class="profile-container">
                <div class="profile-header">
                    <img src="<%= profileUser.avatar || 'https://res.cloudinary.com/dit5y4gaj/image/upload/v1744893994/17c9a5d1-2894-4502-b45a-e7ae4384fe78.png' %>" alt="<%= profileUser.username %>'s profile image" class="profile-avatar" width="300">
                </div>
                <form action="/profile/<%= user._id %>?_method=PUT" method="POST" class="edit-form" enctype="multipart/form-data">
                    <div class="input-control-edit">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" value="<%= profileUser.username %>">
                    </div>
                    <div class="input-control-edit">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" value="<%= profileUser.email %>">
                    </div>
                    <div class="input-control-edit">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <div class="input-control-edit">
                        <i class="fa-solid fa-cloud-arrow-up"></i> Upload Image<br>
                        <input type="file" name="avatar" id="avatar" accept="image/*" preview>
                    </div>
                    <button type="submit" class="btn-update">Update</button>
                </form>

            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>