<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Your Favourites | Simply Yum</title>
</head>

<body>
    <%- include('../partials/nav') %>
        <h1 class="text-center">Favourited Recipes</h1>
        <main>
            <% if (favRecipes && favRecipes.length > 0) { %>
                <div class="recipe-grid">
                    <% favRecipes.forEach(recipe => { %>
                        <div class="recipe-card">
                            <a href="/recipes/<%= recipe.id %>">
                                <div class="recipe-image-container">
                                    <img src="<%= recipe.imageUrl %>" alt="<%= capitalizeWords(recipe.title) %>" class="recipe-image">
                                </div>
                                <div class="recipe-info">
                                    <div class="recipe-title">
                                    <span><%= capitalizeWords(recipe.title) %></span>
                                    <span><%= recipe.favourites.length %> ★</span>
                                </div>
                                    <div class="recipe-meta">
                                        <span><%= capitalizeWords(recipe.category) %></span>
                                        <span><%= recipe.cookTime %> min(s)</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
            <% } else { %>
                <span class="fav-empty">
                    You haven't favourited any recipes yet.<br>
                    Don't forget to add them to your favourites so you can easily find them later!
                </span>
            <% } %>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>