<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/pages/recipes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title><%= recipe.title %> | Simply Yum</title>
</head>
<body>
    <%- include('../partials/nav') %>

    <div class="container">
        <div class="recipe-top">
            <div class="recipe-image-container">
                <img src="<%= recipe.imageUrl %>" alt="<%= recipe.title %>" class="recipe-image" >
            </div>
            <div class="recipe-header">
                <h1 class="recipe-title"><%= capitalizeWords(recipe.title) %></h1>
    
                <div class="recipe-rating">
                    <% for(let i = 0; i < 5; i++) { %>
                        <span class="star">★</span>
                    <% } %>
                    <span class="favorites-count"><%= recipe.favourites.length %> favorites</span>
                </div>
    
                <p class="recipe-description"><%= recipe.description %></p>
    
                <div class="recipe-meta">
                    <div class="recipe-meta-item">
                        <i class="far fa-clock"></i>
                        <span><%= recipe.cookTime %> min(s)</span>
                    </div>
                    <div class="recipe-meta-item">
                        <i class="fas fa-utensils"></i>
                        <span><%= recipe.category %></span>
                    </div>
                </div>
    
                <p class="recipe-author">By
                    <% if (recipe.createdBy) { %>
                        <a href="/profile/<%= recipe.createdBy.username %>">
                            <%= capitalizeWords(recipe.createdBy.username) %> 
                        </a>
                    <% } else { %>
                        <span>Anonymous</span>
                    <% } %>
                </p>
    
                <% if (user) { %>
                    <div class="interaction">
                        <% if (recipe.favourites.find(favId => favId.equals(user._id))) { %>
                            <form action="/recipes/<%= recipe._id %>/fav?_method=DELETE" method="post">
                                <button class="btn btn-fav" type="submit">
                                    <i class="fa fa-heart-crack"></i> Remove Favourite
                                </button>
                            </form>
                        <% } else { %>
                            <form action="/recipes/<%= recipe._id %>/fav" method="post">
                                <button class="btn btn-fav" type="submit">
                                    <i class="far fa-heart"></i> Add to Favourites
                                </button>
                            </form>
                        <% } %>
                    </div>
                <% } %>
                <div class="recipe-actions">
                    <div>
                        <% if (user && recipe.createdBy && recipe.createdBy.equals(user._id)) { %>
                            <form action="/recipes/<%= recipe._id %>/edit" style="display: inline-block;">
                                <button type="submit" class="btn btn-edit">Edit</button>
                            </form>
                            <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" style="display: inline-block;">
                                <button type="submit" class="btn btn-delete">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>


    <div class="recipe-content">
        <div class="ingredients-container">
            <div class="ingredients-header">
                <h2 class="ingredients-title">Ingredients</h2>
                <p class="ingredients-serves">Serves <%= recipe.servings %>
                </p>
            </div>
    
            <ul class="ingredients-list">
                <% recipe.ingredients.forEach(ingredient=> { %>
                    <li class="ingredient-item">
                        <span class="ingredient-name">
                            <%= ingredient %>
                        </span>
                    </li>
                    <% }) %>
            </ul>
        </div>
    
        <div class="instructions-container">
            <h2 class="instructions-title">Cooking Instructions</h2>
    
            <ol class="instructions-list">
                <% recipe.instructions.forEach((instruction, index)=> { %>
                    <li class="instruction-step">
                        <div class="step-number">
                            <%= index + 1 %>
                        </div>
                        <div class="step-content">
                            <%= instruction %>
                        </div>
                    </li>
                    <% }) %>
            </ol>
        </div>
    </div>
        <div class="comment-section">
            <h2 class="comments-title">Comments</h2>
            <div class="comments">
                <% if (recipe.comments && recipe.comments.length > 0) { %>
                    <% recipe.comments.reverse().forEach(comment => { %>
                        <div class="comment">
                            <div class="top-bar">
                                <% if (comment.createdBy) { %>
                                    <h3>
                                        <a href="/profile/<%= comment.createdBy.username %>" class="username-link">
                                        <img src="<%= comment.createdBy.avatar || 'https://res.cloudinary.com/dit5y4gaj/image/upload/v1744893994/17c9a5d1-2894-4502-b45a-e7ae4384fe78.png' %>" alt="Avatar" class="avatar"> 
                                            <%= capitalizeWords(comment.createdBy.username) %>
                                        </a>
                                    </h3>
                                <% } else { %>
                                    <h3>Deleted User</h3>
                                <% } %>    
                            </div>
                            <p title="<%= comment.formatDate.fullDate %>"><%= comment.formatDate.shortDate %></p>
                            <p><%= comment.content %></p>
                            <% if (user && comment.createdBy && comment.createdBy.equals(user._id)) { %>
                                <form action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <button class="delete-btn" type="submit">🗑️</button>
                                </form>
                            <% } %>
                        </div>
                   <% }) %>
                <% } else { %>
                    <p>No comments yet. Be the first to share your thoughts!</p>
                <% } %>
            </div>

            <% if (user) { %>
                <form action="/recipes/<%= recipe._id %>/comments" method="POST" class="comment-form">
                    <label for="content">Leave a comment:</label>
                    <textarea name="content" id="content"></textarea>
                    <% if (errorMessage) { %>
                     <p class="error-message"><%= errorMessage %></p>
                    <% } %>
                    <button type="submit">Comment</button>
                </form>
            <% } else { %>
            <form action="/recipes/<%= recipe._id %>/comments" method="POST" class="comment-form">
                <label for="content">Leave a comment:</label><br>
                <textarea name="content" id="content" placeholder="Sign in to leave a comment" disabled></textarea>
                <% if (errorMessage) { %>
                 <p class="error-message"><%= errorMessage %></p>
                <% } %>
            <% } %>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>